/mdof_cache
/__pycache__
/jacket_damage_data
/extracted_gvr_images
/jacket_damage_data_timespace
/validation_output
/temp_test_data
/extracted_gvr_fast
/jacket_damage_data_timespace2
/0.1-0.35test
/训练出的模型
/jacket_damage_data_timespace3
